<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # 所有不存在的文件/目录，都转发到 index.html（Vue 入口）
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.html [L]
</IfModule>